<% if memberSignedIn?() %>
  <%= render :template => 'navigation/index' %>
<% else %>
  <%= render :template => 'navigation/public' %>
<% end %>

<h2>Prayer Requests</h2>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prayer_requests.each do |prayer_request| %>
  <tr>
    <td><%= prayer_request.content %></td>
    <td><%= " -" + prayer_request.user.name %></td>
    <td><% @prayers = Prayer.where(:prayer_request_id => prayer_request).all %>
    	<%= @prayers.count %></td>
    
    <td><%= form_for(Prayer.new, :url => prayers_path, :methd => :post ) do |f| %>
      <%= f.hidden_field :prayer_request_id, :value => prayer_request.id %>
      <%= f.submit("I'll Pray") %> 
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prayer request', new_prayer_request_path %>
