<h1>PFML - Pray For My Life</h1>
<h3>Listing users</h3>
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
      <td><%= link_to 'View', user %></td>
      <% if session[:user_id] == user.id %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
      <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Log Out', logout_path %>