<h1>PFML - Pray For My Life</h1>
<%= link_to 'Home', prayer_requests_path %>
<%= link_to 'My Submitted Requests', my_prayer_requests_path %>
<%= link_to 'To Pray For', prayers_path %>
<%= link_to 'New Request', new_prayer_request_path %>
<%= link_to 'Logout', logout_path %>
